{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css1/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					
					<div class="login-wrap p-4 p-md-5">
						<h3 class="text-center mb-4">Bem vindos ao Blog da Acessibilidade</h3>
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
				
				{% if certo %}	
				  <p style="color: red;">{{ certo }}</p>
			  	{% endif %}
		      	<h3 class="text-center mb-4">Login</h3>

				  

				  <form class="form-login" action="{% url 'logar'%}" method="POST">{% csrf_token %}
					<div class="usuario">
						<label for="usuario">Usuário</label>
						<input type="text" class="form-control rounded-left" style = "width:350px"  name="usuario" placeholder="">
	
					</div>
					<div class="senha">
						<label for="usuario">Senha</label>
						<input type="password" class="form-control rounded-left" style = "width:350px" name="senha" placeholder="">
					</div>
					<div>
						<br>
						<input class="btn btn-primary rounded submit p-3 px-5" type="submit" value="Entrar" id="button">
					</div>
					
				</form>
				<br>
				<a href= "/cadastro"><button class="btn" >Cadastra-se</button></a>
				{% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}   
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
	
	</body>
</html>

